html{
  background-color: blu;
  background-color: black;
  animation-name: blu;
  animation-duration: 20s;
  animation-iteration-count: 1;
}

footer{
  color: white;
}

.tag {
  color: blu;
  font-size: 1px;
}

@keyframes blu {
  0% {background-color: black;}
  25%  {background-color: rgb(0,117,160);}
  50%  {background-color: white;}
  75%  {background-color: blue;}
  100%  {background-color: black;}
}

.column {
  float: left;
  width: 100%;
  padding: 1.5%;
  font-size: 24px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: space-between;
  padding: 5%;
}

.stack{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
